<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mars</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body style="background-color: #e77d11;">
  <div class="container-fluid mt-5">
    <div class="jumbotron text-center"
      style="background-image: url('https://miro.medium.com/max/4000/1*-Q7N2bQ6cCMly7bCRuGlNA.jpeg');background-repeat:no-repeat;background-size: 100vw;">
      <h1 style="color: #451804;">Visit Mars</h1>
      <p style="color:#451804;"><strong>Press Button Below to Start Scraping Mars</strong></p>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Get Data!</a></p>
    </div>
  </div>

  <!-- News Section -->
  <div class="container">
    <div class="col col-12">

      <h2 style="color: #451804;"> Check out the lastest news from Mars</h2>
      <p style="color: #451804;"> <strong> Today's Headline: </strong>{{ mars.news_title }}</p>
      <p style="color: #451804;"> <strong> Summary: </strong>{{ mars.news_paragraph }}</p>

    </div>
  </div>

  <div class="container">
    

      <!-- Featured Img -->
      <div class="col col-lg-6 col-6">
        <h2 style="color: #451804;">Today's Featured Image</h2>
        <img src="{{ mars.Mars_image }}" class="img-fluid">
      </div>
      <!--Latest Tweet-->
      <div class="col col-lg-12 col-12">
        <h2 style="color: #451804;">Here is the latest weather from Mars</h2>
        <p style="color: #451804;"> {{ mars.weather}}</p>
      </div>
      <!-- Wiki table -->
      <div class="col col-lg-6 col-6">
        <h2 style="color: #451804;">Mars Facts</h2>
        <table>{{ mars.facts|safe }}</table>
      </div>
    </div>
  

  <!-- Hemishpere Section -->
  <div class="container">
    <div class="col col-12">
      <h2 style="color: #451804;"> Here is a closer look at the hemispheres of Mars </h2>

     
      <div class="row">
        {% for hemisphere in mars.hemispheres %}
        <div class="col col-lg-5 col-6 ">

          <h4 style="color: #451804;"> {{ hemisphere.title }}</h4>
          <img src="{{ hemisphere.img_url }}" class="img-fluid">

        </div>
        {% endfor %}
      </div>
     

    </div>

  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

</body>

</html>